:root[data-theme="dark"] {
  --primary-color: #000000;
  --secondary-color: #171717;
  --secondary-color-hover: #313131;
  --text-color: #e1e1e1;
  --list-background-color: var(--secondary-color);
  --list-background-color-hover: #0a4ea4;
  --btn-delete-background-color: rgba(255, 255, 255, 0.2);
  --btn-delete-background-color-hover: rgba(255, 255, 255, 0.3);
  --background-pattern: url(../images/pattern_white.png);
}

:root[data-theme="light"] {
  --primary-color: #fff;
  --secondary-color: #e5e5e5;
  --secondary-color-hover: #cccccc;
  --text-color: #000;
  --list-background-color: var(--secondary-color);
  --list-background-color-hover: #ffe494;
  --btn-delete-background-color: rgba(255,255,255,.8);
  --btn-delete-background-color-hover: rgba(255,255,255,1);
  --background-pattern: url(../images/pattern_black.png);
}

:root {
  --border-radius: 3px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
}

header {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px 15px 15px 15px;
}

.addAndTheme {
  display: flex;
  gap: 15px;
}

.search {
  position: relative;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.search__icon {
  position: absolute;
  background-color: #0a4ea4;
  color: white;
  height: 44px;
  width: 44px;
  align-content: center;
  text-align: center;
}

.search__icon svg {
  position: relative;
  top: 2px;
}

.search__input {
  padding: 14px 55px 14px 55px;
  background-color: var(--secondary-color);
  border: 0;
  color: var(--text-color);
  width: 100%;
}

.search__input:focus {
  outline: none;
  background-color: var(--secondary-color-hover);
}

.search__clear {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  background-color: #c6225b;
  border: 0;
  border-radius: var(--border-radius);
  color: #fff;
  padding: 2px 2px 0px 2px;
  display: none;
}

.search__clear:hover {
  background-color: #f20658;
  cursor: pointer;
}

#theme {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  background-image: var(--background-pattern);
  background-repeat: repeat-x;
}

.theme__dark {
  fill: #000;
}

.theme__light {
  fill: #fff;
}

.opacity {
  opacity: .8;
}

#app {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#app li {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  background-color: var(--list-background-color);
  margin: 0 15px 10px 15px;
  border-radius: var(--border-radius);
  background-image: var(--background-pattern);
  background-repeat: repeat-x;
}

#app li:hover {
  background-color: var(--list-background-color-hover)!important;
  /* transition: background-color 0.15s ease; */
}

#app li:last-child {
  margin-bottom: 15px;
}

#app li a {
  text-decoration: none;
  display: flex;
  padding: 10px 12px;
  gap: 10px;
  align-items: center;
  overflow: hidden;
  flex: 1;
}

.favicon {
  width: 28px;
  display: flex;
  flex: 0 0 auto;
  & img {
    width: 100%;
    border-radius: var(--border-radius);
  }
}

.informations {
  overflow: hidden;
  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
    font-weight: 600;
  }
  .url {
    opacity: 0.6;
    font-size: 0.9em;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: nowrap;
  }
}

.btn {
  background-color: var(--secondary-color);
}

.btn:hover {
  background-color: var(--secondary-color-hover);
}

.delete {
  margin-right: 12px;
  border: 0;
  cursor: pointer;
  border-radius: var(--border-radius);
  padding: 6px 10px;
  color: var(--text-color);
  background-color: var(--btn-delete-background-color);
}

.delete:hover {
  background-color: var(--btn-delete-background-color-hover);
}

.confirmDelete, .confirmDelete:hover {
  background-color: #c6225b;
  color: #fff;
}

#add {
  background-color: #0a4ea4;
  color: #ffffff;
  cursor: pointer;
  padding: 15px 15px;
  border: 0;
  font-size: 1em;
  border-radius: var(--border-radius);
  text-align: center;
  text-transform: uppercase;
  flex: 1;
  background-image: url(../images/pattern_white.png);
  background-repeat: repeat-x;
}

#add:hover {
  background-color: #0f66d9;
}

.aboutsync {
  background-color: crimson;
  color: #fff;
  padding: 15px;
  border-radius: var(--border-radius);
  display: none;
}

.aboutsync p {
  margin: 0;
  padding: 0;
}

.aboutsync__gotit {
  background-color: yellow;
  display: block;
  text-align: center;
  padding: 12px;
  cursor: pointer;
  margin-top: 12px;
  border-radius: var(--border-radius);
  color: #000;
  width: 100%;
  border: 0;
}

.aboutsync__gotit:hover {
  background-color: rgb(255, 255, 226);
}

.aboutsyncBTN {
  color: crimson;
  text-align: center;
  font-size: small;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.aboutsyncBTN:hover {
  color: rgb(239, 10, 56);
}